################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/Mwm.ReSync/.vs/Mwm.ReSync
bin/
obj/
packages
*.suo
*.user
*.log
*.tmp